@model IEnumerable<FixOrder>
@{

    ViewData["Title"] = "Admin Login";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <!-- TABLE -->
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ordenes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Reparado</th>
                                <th>Fecha de entrada</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Reparado</th>
                                <th>Fecha de entrada</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var n in Model)
                            {
                                <tr>
                                    <td>@n.ComputerBrand</td>
                                    <td>@n.ComputerModel</td>
                                    <td>@n.Fixed</td>
                                    <td>@n.ReceptionDate</td>
                                    <td class="text-center">
                                        <a class="btn btn-circle btn-sm btn-info" asp-action="Details" asp-controller="Repair" asp-route-id="@n.Id"><i class="fas fa-info"></i></a>
                                        <a class="btn btn-circle btn-sm btn-info" asp-action="Edit" asp-controller="Repair" asp-route-id="@n.Id"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END TABLE -->
    <partial name="/Areas/Admin/Views/Shared/_CreateButton.cshtml" model="@("Repair")" />
}
else
{
    <script>
        window.location.href = "@Url.Action("Login")";
    </script>
}

